@model EasyMaintain.CoreWebMVC.Models.ComponentModel

<h1 class="text-light">Component</h1>
<div id="CreateTitle">
    <h3 class="text-light">Create New</h3>
</div>
<div style="display: none" id="UpdateTitle">
    <h3 class="text-light">Update Details</h3>
</div>


    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true)

    <div class="example">
        <div class="flex-grid">
            <div class="row cells2">
                <div class="cell-form margin-right-10 cell size4">
                    <label>Model Name</label>
                    <div class="input-control text full-size">
                        @Html.TextBoxFor(m => m.Name, new { @class = "Name", placeholder = "Name" })
                    </div>
                </div>
                <div class="cell-form margin-right-10 cell size4">
                    <label>Category</label>
                    <div class="input-control text full-size">
                        @Html.TextBoxFor(m => m.Category, new { @class = "Category", placeholder = "Category" })
                    </div>
                </div>
            </div>
            <div class="row cells2">
                <div class="cell-form margin-right-10 cell size4">
                    <label>Manufacturer Name</label>
                    <div class="input-control text full-size">
                        @Html.TextBoxFor(m => m.Manufacturer, new { @class = "ManufacturerName", placeholder = "Manufacturer Name" })
                    </div>
                </div>
                <div class="cell-form margin-right-10 cell size4">
                    <label>Image</label>
                    <div class="input-control text full-size">
                        @Html.TextBoxFor(m => m.ImagePath, new { @class = "ImagePath", placeholder = "Image Path" })
                    </div>
                </div>
            </div>
            <div class="row cells2">
                <div class="cell-form margin-right-10 cell size4">
                    <label class="display-block">Description</label>
                    <div class="input-control textarea full-size">
                        @Html.TextAreaFor(m => m.Description, new { @class = "Description", placeholder = "Description" })
                    </div>
                </div>
                <div class="cell-form margin-right-10 cell size4">
                    <label class="display-block">Additional Data</label>
                    <div class="input-control textarea full-size">
                        @Html.TextAreaFor(m => m.AdditionalData, new { @class = "AdditionalData", placeholder = "Additional Data" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div id="CreateButton">
        <button class="button primary" onclick="createNewAircraft()"><span class="mif-plus"></span> Create</button>
    </div>
    <div style="display: none" id="EditButtons">
        <button class="button warning" onclick="saveEditedAircraft()"><span class="mif-loop2"></span> Update</button>
        <button class="button alert" onclick="deleteAircraft()"><span class="mif-cross"></span> Delete</button>
        <button class="button primary" onclick="cancel()"><span class="mif-plus"></span> New Aircraft</button>
    </div>

    <hr class="thin bg-grayLighter">
    <table class="dataTable border bordered" data-auto-width="false">
        <thead>
            <tr>
                <td class="sortable-column sort-asc" style="width: 100px">Model ID</td>
                <td class="sortable-column">Manufacturer</td>
                <td class="sortable-column">Model</td>
                <td class="sortable-column" style="width: 100px">Update</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var models in Model.Components)
            {
                <tr>
                    <td>@models.ComponentID</td>
                    <td>@models.Manufacturer</td>
                    <td>@models.ComponentName</td>
                    <td class="align-center"><button class="toolbar-button" onclick="LoadAirplane(@models.ComponentID)"><span class="mif-pencil"></span></button></td>
                </tr>
            }
        </tbody>
    </table>

    <script>

        function tab_click(tab) {
            console.log(tab);
            return true;
        }
        function tab_change(tab) {
            console.log(tab);
        }


        function createNewAircraft() {
            debugger;
            var CurrentCoponent = {
                ModelName: $(".Name").val(),
                Category: $(".Category").val(),
                Manufacturer: $(".ManufacturerName").val(),
                EngineType: $(".EngineType").val(),
                ImagePath: $(".ImagePath").val(),
                Description: $(".Description").val(),
                AdditionalData: $(".AdditionalData").val(),
            }

            $.ajax({
                url: '/AircraftModel/SaveNewAircraft',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(CurrentCoponent),
                success: function (data) {

                    $.Notify({
                        caption: 'Aircrafts',
                        content: 'Aircraft successfully added.',
                        type: 'success'
                    });

                    debugger;
                    $('.sidebar').children().removeClass('active');
                    $('.sidebar li:nth-child(1)').addClass('active');

                    $('#partial-view-container').html(data);
                },
            });

        }

        function saveEditedAircraft() {
            debugger;
            var CurrentCoponent = {
                ModelName: $(".Name").val(),
                Category: $(".Category").val(),
                Manufacturer: $(".ManufacturerName").val(),
                EngineType: $(".EngineType").val(),
                ImagePath: $(".ImagePath").val(),
                Description: $(".Description").val(),
                AdditionalData: $(".AdditionalData").val(),
            }

            $.ajax({
                url: '/AircraftModel/saveEditedAircraft',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(CurrentCoponent),
                success: function (data) {

                    $.Notify({
                        caption: 'Aircrafts Work',
                        content: 'Aircraft Successfully updated.',
                        type: 'success'
                    });
                    $('#partial-view-container').html(data);
                    chanageButtons("edit");

                },
            });

        }

        function LoadAirplane(viewName) {
            var Model = { AircraftModelID: viewName }

            $.ajax({
                url: '/AircraftModel/EditAircraft',
                type: 'POST',
                data: JSON.stringify(Model),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    debugger;
                    $('#partial-view-container').html(data);
                    chanageButtons("edit");
                },
                error: function () {
                    $.Notify({
                        caption: 'Aircrafts',
                        content: 'Aircraft Editing Failed .',
                        type: 'alert'
                    });
                }
            });

        }

        function cancel() {

            $.ajax({
                url: '/AircraftModel/cancel',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    debugger;
                    $('#partial-view-container').html(data);
                    chanageButtons("create");
                },
                error: function () {
                    $.Notify({
                        caption: 'Aircrafts',
                        content: 'Aircraft Editing Failed .',
                        type: 'alert'
                    });
                }
            });

        }

        function deleteAircraft() {

            $.ajax({
                url: '/AircraftModel/deleteAircraft',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    debugger;
                    $('#partial-view-container').html(data);
                    chanageButtons("create");
                },
                error: function () {
                    $.Notify({
                        caption: 'Aircrafts',
                        content: 'Aircraft Editing Failed .',
                        type: 'alert'
                    });
                }
            });

        }

        function chanageButtons(button) {
            debugger;
            if (button == "edit") {
                debugger;
                $("#CreateButton").hide();
                $("#CreateTitle").hide();
                $("#UpdateTitle").show();
                $("#EditButtons").show();
            }
            if (button == "create") {
                debugger;
                $("#CreateButton").show();
                $("#CreateTitle").show();
                $("#UpdateTitle").hide();
                $("#EditButtons").hide();
            }

        }

    </script>

