@model EasyMaintain.CoreWebMVC.Models.InventoryViewModel

<h1 class="text-light">Create Order</h1>



<div class="tabcontrol2" data-role="tabcontrol" data-on-tab-click="tab_click" data-on-tab-change="tab_change">
    <ul class="tabs">
        <li ><a href="#frame_1">Create Order</a></li>
        <li ><a href="#frame_2">Delivery Details</a></li>
        <li><a href="#frame_3">Payment Details</a></li>
    </ul>
    <div class="frames">
        <div class="frame" id="frame_1">
            <hr />

            <div class="example">
                <div class="flex-grid">
                    <div class="row cells2">
                        <div class="cell-form margin-right-10 cell size4">
                            <label>Customer Name</label>
                            <div class="input-control text full-size">
                               @Html.TextBoxFor(m => m.CustomerName, new { @class = "CustomerName", placeholder = "Customer Name" })
                            </div>
                        </div>
                        <div class="cell-form margin-right-10 cell size4">
                            <label class="display-block">Company Name</label>
                            <div class="input-control select full-size">
                                @Html.TextBoxFor(m => m.CompanyName, new { @class = "CompanyName", placeholder = "Company Name" })
                            </div>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell-form margin-right-10 cell size4">
                            <label class="display-block">Additional Notes</label>
                            <div class="input-control textarea full-size">
                                @Html.TextAreaFor(m => m.AdditionalNotes, new { @class = "AdditionalNotes", placeholder = "Additional Notes" })
                            </div>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell-form margin-right-10 cell size4">
                            <label>Add Part to list</label>
                            <div class="input-control text full-size">
                                <input type="text" id="PartName" placeholder="Part Name" />
                                <button class="button primary" onclick="addPart()"><span class="mif-plus"></span> Add</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>    
            <div>
                <table class="dataTable border bordered" data-auto-width="false">
                    <thead>
                        <tr>
                            <td class="sortable-column">Part Name</td>
                            <td class="sortable-column" style="width: 100px">Remove</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var workOrder in Model.PartsList)
                        {
                            <tr>
                                <td>@workOrder</td>
                                <td class="align-center"><button class="toolbar-button" onclick="DeleteCheck( this )" data-assigned-id="@workOrder"><span class="mif-cross"></span></button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
  
            <button class="button primary" onclick="newWorkOrder()"><span class="mif-plus"></span> Create</button>
        </div>       
    <div class="frame" id="frame_2">
                    <hr />

                    <div class="example">
                        <div class="flex-grid">
                            <div class="row cells2">
                                <div class="cell-form margin-right-10 cell size4">
                                    <label class="display-block">Delivery Method</label>
                                    <div class="input-control select full-size">
                                       
                                    </div>
                                </div>
                                <div class="cell-form margin-right-10 cell size4">
                                    <label>Delivery Date</label>
                                    <div class="input-control text full-size">
                                        <div class="input-control text" data-role="datepicker">
                                            <input type="text" id="endDate">
                                            <button class="button"><span class="mif-calendar"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell-form margin-right-10 cell size4">
                                    <label>Address</label>
                                    <div class="input-control text full-size">
                                        <div class="input-control text full-size">
                                           
                                        </div>
                                        <div class="input-control text full-size">
                                          
                                        </div>
                                        <div class="input-control text full-size">
                                            
                                        </div>
                                        <div class="input-control text full-size">
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells2">
                                <div class="cell-form margin-right-10 cell size4">
                                    <label>Person InCharge</label>
                                    <div class="input-control text full-size">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row cells2">
                                <div class="cell-form margin-right-10 cell size4">
                                    <label class="display-block">Additional Notes</label>
                                    <div class="input-control textarea full-size">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <button class="button primary" onclick="newWorkOrder()"><span class="mif-plus"></span> Create</button>
            
        </div>
        <div class="frame" id="frame_3">
                    <hr />
                    <div class="example">
                        <div class="flex-grid">
                            <div class="row cells2">
                                <div class="cell-form margin-right-10 cell size4">
                                    <label class="display-block">Delivery Method</label>
                                    <div class="input-control select full-size">

                                    </div>
                                </div>
                                <div class="cell-form margin-right-10 cell size4">
                                    <label>Delivery Date</label>
                                    <div class="input-control text full-size">
                                        <div class="input-control text" data-role="datepicker">
                                            <input type="text" id="endDate">
                                            <button class="button"><span class="mif-calendar"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell-form margin-right-10 cell size4">
                                    <label>Address</label>
                                    <div class="input-control text full-size">
                                        <div class="input-control text full-size">

                                        </div>
                                        <div class="input-control text full-size">

                                        </div>
                                        <div class="input-control text full-size">

                                        </div>
                                        <div class="input-control text full-size">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells2">
                                <div class="cell-form margin-right-10 cell size4">
                                    <label>Person InCharge</label>
                                    <div class="input-control text full-size">

                                    </div>
                                </div>
                            </div>
                            <div class="row cells2">
                                <div class="cell-form margin-right-10 cell size4">
                                    <label class="display-block">Additional Notes</label>
                                    <div class="input-control textarea full-size">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <button class="button primary" onclick="newWorkOrder()"><span class="mif-plus"></span> Create</button>
        </div>
    </div>
</div>





<script>

    function tab_click(tab){
        console.log(tab);
        return true;
    }
    function tab_change(tab){
        console.log(tab);
    }

    function nextTab(tab) {
        tab_click(tab);
        tab_change(tab);
    }



</script>


