@model EasyMaintain.CoreWebMVC.Models.AircraftModelModel

<script src="~/Scripts/select2.min.js"></script>

<h1 class="text-light">Aircraft Models</h1>


    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true)

    <div class="example">
        <div class="flex-grid">
            <div class="row cells2">
                <div class="cell-form margin-right-10 cell size4">
                    <label>Name</label>
                    <div class="input-control text full-size">
                        <select id="select">
                            <option>opt1ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                            <option>opt2ion</option>
                        </select>
                    </div>
                </div>
                <div class="cell-form margin-right-10 cell size4">
                    <label>Category</label>
                    <div class="cell">
                        <h5>Metro UI CSS init with options</h5>
                        <div class="input-control full-size" data-role="select" data-template-result="fmtState" data-placeholder="Select a state">
                            <select class="full-size" tabindex="-1" style="display: none;">
                                <option></option>
                                @foreach (var workOrder in Model.AircrafModels)
                                {
                                    <option>@Html.Raw(workOrder.Manufacturer +" "+ workOrder.ModelName)</option>
                                }
                                
                            </select>
                            <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" style="width: 546px;">
                                <span class="selection">
                                </span>
                                <span class="dropdown-wrapper" aria-hidden="true">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell-form margin-right-10 cell size4">
                        <label>Manufacturer Name</label>
                        <div class="input-control text full-size">
                            @Html.TextBoxFor(m => m.Manufacturer, new { placeholder = "Manufacturer Name" })
                        </div>
                    </div>
                    <div class="cell-form margin-right-10 cell size4">
                        <label>Engine Type</label>
                        <div class="input-control text full-size">
                            @Html.TextBoxFor(m => m.EngineType, new { placeholder = "Engine Type" })
                        </div>
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell-form margin-right-10 cell size4">
                        <label>Image</label>
                        <div class="input-control text full-size">
                            @Html.TextBoxFor(m => m.ImagePath, new { placeholder = "Image Path" })
                        </div>
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell-form margin-right-10 cell size4">
                        <label class="display-block">Description</label>
                        <div class="input-control textarea full-size">
                            @Html.TextAreaFor(m => m.Description, new { placeholder = "Description" })
                        </div>
                    </div>
                    <div class="cell-form margin-right-10 cell size4">
                        <label class="display-block">Additional Data</label>
                        <div class="input-control textarea full-size">
                            @Html.TextAreaFor(m => m.AdditionalData, new { placeholder = "Additional Data" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <button class="button primary" onclick="pushMessage('info')"><span class="mif-plus"></span> Create</button>
    <button class="button warning" onclick="pushMessage('warning')"><span class="mif-loop2"></span> Update</button>
    <button class="button alert" onclick="pushMessage('alert')"><span class="mif-cross"></span> Delete</button>


<hr class="thin bg-grayLighter">
<table class="dataTable border bordered" data-role="datatable" data-auto-width="false">
    <thead>
        <tr>
            <td style="width: 20px"></td>
            <td class="sortable-column sort-asc" style="width: 100px">ID</td>
            <td class="sortable-column">Machine name</td>
            <td class="sortable-column">Address</td>
            <td class="sortable-column" style="width: 20px">Status</td>
            <td style="width: 20px">Switch</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label class="input-control checkbox small-check no-margin">
                    <input type="checkbox">
                    <span class="check"></span>
                </label>
            </td>
            <td>123890723212</td>
            <td>Machine number 1</td>
            <td><a href="http://virtuals.com/machines/123890723212">link</a></td>
            <td class="align-center"><span class="mif-checkmark fg-green"></span></td>
            <td>
                <label class="switch-original">
                    <input type="checkbox" checked>
                    <span class="check"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="input-control checkbox small-check no-margin">
                    <input type="checkbox">
                    <span class="check"></span>
                </label>
            </td>
            <td>123890723212</td>
            <td>Machine number 2</td>
            <td><a href="http://virtuals.com/machines/123890723212">link</a></td>
            <td class="align-center"><span class="mif-stop fg-red"></span></td>
            <td>
                <label class="switch-original">
                    <input type="checkbox">
                    <span class="check"></span>
                </label>
            </td>
        </tr>
    </tbody>
</table>
