@model EasyMaintain.CoreWebMVC.Models.SparePartsViewModel

<h1 class="text-light">Spare Parts</h1>


    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true)

    <div class="example">
        <div class="flex-grid">
            <div class="row cells2">
                <div class="cell-form margin-right-10 cell size4">
                    <label>Name</label>
                    <div class="input-control text full-size">
                        <input type="text" name="componentName" id="componentName" placeholder="Name">
                    </div>
                </div>
                <div class="cell-form margin-right-10 cell size4">
                    <label class="display-block">Aircraft Model</label>
                    <div class="input-control select full-size">
                       
                       @Html.DropDownListFor(m => m.AircrafModelId, new SelectList(Model.AircrafModels, "AircraftModelID", "ModelName"))
                    </div>
                </div>
            </div>
            <div class="row cells2">
                <div class="cell-form margin-right-10 cell size4">
                    <label class="display-block">Manufacturer</label>
                    <div class="input-control select full-size">
                        @Html.DropDownListFor(m => m.ManufacturerId, new SelectList(Model.Manufacturers, "ManufacturerID", "Name"))
                    </div>
                </div>
                <div class="cell-form margin-right-10 cell size4">
                    <label class="display-block">Supplier</label>
                    <div class="input-control select full-size">
                        
                        @*@Html.DropDownListFor(m => m.SupplierId, new SelectList(Model.Suppliers, "SupplierId", "Name"))*@
                    </div>
                </div>
            </div>
            <div class="row cells2">
                <div class="cell-form margin-right-10 cell size4">
                    <label class="display-block">Description</label>
                    <div class="input-control textarea full-size">
                        @Html.TextAreaFor(m => m.Description, new { placeholder = "Description" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="button primary" onclick="createRecord()"><span class="mif-plus"></span> Create</button>
    <button class="button warning" onclick="pushMessage('warning')"><span class="mif-loop2"></span> Update</button>
    <button class="button alert" onclick="pushMessage('alert')"><span class="mif-cross"></span> Delete</button>



<hr class="thin bg-grayLighter">
<table class="dataTable border bordered" data-auto-width="false">
    <thead>
        <tr>
            <td style="width: 20px"></td>
            <td class="sortable-column sort-asc" style="width: 100px">ID</td>
            <td class="sortable-column">Name</td>
            <td class="sortable-column">Aircraft Model</td>
            <td class="sortable-column">Manufacturer</td>
            <td class="sortable-column">Supplier</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var sparePart in Model.SpareParts)
        {
         <tr>
            <td>
                <label class="input-control checkbox small-check no-margin">
                    <input type="checkbox">
                    <span class="check"></span>
                </label>
            </td>
            <td>@sparePart.SparePartID</td>
            <td>@sparePart.Name</td>
            <td></td>
            <td></td>
            <td></td>
            <td>@sparePart.Description</td>
        </tr>    
        }
        

    </tbody>
</table>


<script type="text/javascript">
    function createRecord() {

        var ai = 1;
            
    $.ajax({
        url: '/spareparts/check',
        type: 'GET',
        data: {
            componentName: $("#componentName").val()

        },
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
            debugger;
            $('#partial-view-container').html(data);
        },
    });
    }


</script>

