<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Easy Maintain</title>
    @Styles.Render("~/Content/css")

</head>
<body class="bg-steel">
    <div class="app-bar fixed-top darcula" data-role="appbar">
        <ul class="app-bar-menu">
            <li><a href="">File</a></li>
            <li><a href="">Edit</a></li>
            <li><a href="">Tree</a></li>
            <li><a href="">List</a></li>
            <li><a href="">Bookmarks</a></li>
            <li><a href="">Database Utility</a></li>
            <li><a href="">Settings</a></li>
            <li><a href="">Tools</a></li>
            <li><a href="">Help</a></li>
        </ul>
        <div class="app-bar-element place-right">
            <span class="dropdown-toggle"><span class="mif-cog"></span> User Name</span>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px">
                <h2 class="text-light">Quick settings</h2>
                <ul class="unstyled-list fg-dark">
                    <li><a href="" class="fg-white1 fg-hover-yellow">Profile</a></li>
                    <li><a href="" class="fg-white2 fg-hover-yellow">Security</a></li>
                    <li><a href="" class="fg-white3 fg-hover-yellow">Exit</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/metro")
    @Scripts.Render("~/bundles/dataTable")
    @Scripts.Render("~/bundles/custom")

    @RenderSection("scripts", required: false)

</body>
</html>